.userCard {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  padding: 1.3rem;
  align-items: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profilePicture > img {
  width: 4rem;
  border-radius: 50%;
}
.myConnections {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(232, 232, 232, 0.905);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(65, 87, 230);
  border: 1px solid rgb(41, 130, 245);
}
